<%# Comment renderer %>
<div class="user-comment" id="<%= anchor_id(comment) %>">
  <%# Tagline %>
  <p class="tagline">
    <%# Commenter name %>
    <span class="commenter-name">
      <%= comment.author.username %>
    </span>
    posted
    <%# Updating timestamp %>
    <time title="<%= comment.created_at %>"
      datetime="<%= comment.created_at %>"
      class="live-timestamp">
      <%= time_ago_in_words(comment.created_at) %> ago
    </time>
    <%# Option buttons %>
    <span class="comment-options">
      <% if user_signed_in? && comment.can_user_edit?(current_user) %>
        <%= link_to 'Edit', 'javascript:;', name: 'edit', role: 'button',
          class: 'link' %>
      <% end %>
      <% if user_signed_in? && comment.can_user_delete?(current_user) %>
        <%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= link_to 'Link', article_comment_path(comment.article, comment) %>
    </span>
  </p>
  <%# Comment body %>
  <div class="comment-body">
    <%= markdown(comment.body, header_level: 3) %>
  </div>
  <%# Edit Comment box %>
  <% if user_signed_in? && comment.can_user_edit?(current_user) %>
    <%= render partial: "comments/edit", locals: {comment: comment}  %>
  <% end %>
</div>
