<div class="comment__form js-comment-form" style="display: none">
  <%= form_for([@article, comment],
    url: article_comment_path(comment.article, comment), remote: true) do |form| %>
    <%= hidden_field_tag :id  %>
      <%= form.text_area :body %>
    <div class="comment__form-buttons">
      <%= button_tag 'Save', type: 'button', name: 'submit' %>
      <%= button_tag 'Cancel', type: 'button', name: 'cancel' %>
    </div>
  <% end %>
</div>
