<nav class="article__nav navbar navbar--style-end-of-content">
  <ul class="navbar__nav">

    <%# Previous %>
    <li class="navbar__item">
      <%= link_to 'Prev', article_path(@article.previous_article) %>
    </li class="navbar__item">

    <%# Edit %>
    <% if user_signed_in? && @article.can_user_edit?(current_user) %>
      <li class="navbar__item">
        <%= link_to 'Edit', edit_article_path(@article) %>
      </li class="navbar__item">
    <% end %>

    <%# Article Index %>
    <li class="navbar__item">
      <%= link_to 'More', articles_path %>
    </li class="navbar__item">

    <%# Delete %>
    <% if user_signed_in? && @article.can_user_delete?(current_user) %>
      <li class="navbar__item">
        <%= link_to 'Delete', article_path(@article), method: :delete,data: { confirm: 'Are you sure?' } %>
      </li class="navbar__item">
    <% end %>

    <%# Next %>
    <li class="navbar__item">
      <%= link_to 'Next', article_path(@article.next_article) %>
    </li class="navbar__item">
    
  </ul>
</nav>
