<!-- CKEditor prerequisite -->
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

<!-- Edit article form -->
<%= form_with(model: @article, local: true, class: 'article-form') do |form| %>
  <h1> <%= t(controller_name+'.'+action_name+'.header') %> </h1>

  <% if @article.errors.any? %>
    <div id="error-explanation">
      <p>
        <%= pluralize(@article.errors.count, "error") %> prevented this
        article from being saved:
      </p>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <%= form.cktext_area :body %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
