<% content_for :scripts do %>
  <!-- WYSIWYG editor for articles -->
  <%= javascript_include_tag Ckeditor.cdn_url %>
<% end %>

<!-- Edit article form -->
<%= form_with(model: @article, local: true, class: 'article-form') do |form| %>
  <h1> <%= t(controller_name+'.'+action_name+'.header') %> </h1>

  <% if @article.errors.any? %>
    <div id="error-explanation">
      <p>
        <%= pluralize(@article.errors.count, "error") %> prevented this
        article from being saved:
      </p>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <%= form.text_area :body %>
  <script>
    // Replace textarea with ckeditor
    CKEDITOR.replace('article_body', {
      customConfig: '/js/ckeditor/config.js',
      contentsCss: "<%= asset_pack_path 'application.css' %>",
    });
  </script>

  <p>
    <%= form.submit %>
  </p>
<% end %>
