<%# TODO: Automatically select next and previous articles %>
<h1><%= @article.title %></h1>

<p><%= @article.text %></p>

<table class="table article-nav">
  <tr>
    <td> <%= link_to 'Back'%> </td>
    <td> <%= link_to 'Edit', edit_article_path(@article) %> </td>
    <td> <%= link_to 'More', articles_path %> </td>
    <td> <%= link_to 'Delete', article_path(@article), method: :delete,
            data: { confirm: 'Are you sure?' } %> </td>
    <td> <%= link_to 'Next' %> </td>
  </tr>
</table>
