<h1>Hello world!</h1>
<p>
  This is a temporary homepage until I get something useful here, (not that it
  really matters, since nobody will see this except for me c: )
</p>

<p>
  <%= link_to 'Temporary tutorial blog thingy', controller: 'articles' %>
</p>

<ul>
  <% if user_signed_in? %>
  <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
  <li> <%= link_to('Account Setting', edit_user_registration_path) %> </li>
  <% else %>
  <li> <%= link_to('Login', new_user_session_path) %> </li>
  <li> <%= link_to('Register', new_user_registration_path) %> </li>
  <% end %>
</ul>
