<!DOCTYPE html>
<html>
  <head>
    <title>Lilac</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery 3 -->
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %>

    <!-- Scripts required for Rails to run -->
    <%= javascript_pack_tag 'vendor', 'data-turbolinks-track': 'reload' %>

    <!-- WYSIWYG editor for articles -->
    <%= javascript_include_tag 'https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js' %>

    <!-- Application js -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Application Style -->
    <%= stylesheet_pack_tag 'application', media: "all", 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render( partial: 'header') %>
    <div id="content" class="container">
      <%= render( partial: 'flash_alerts') %>
      <%= yield %>
    </div>
    <%= render( partial: 'footer') %>
  </body>
</html>
